.sidebar-container {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #A2BEDC;
    z-index: 1000;
    overflow-y: auto;
}

/*background-color: #042440;*/