.custom-button {
  background-color: #042440; /* Cambia este color al que prefieras */
  color: white;
  border: none;
}
.custom-button:hover {
  background-color: #0e4473; /* Cambia este color al que prefieras */
}

.content-container {
  margin-left: 200px;
  padding: 20px;
}
  