.custom-button {
    background-color: #042440; /* Cambia este color al que prefieras */
    color: white;
    border: none;
  }
  .custom-button:hover {
    background-color: #042440; /* Cambia este color al que prefieras */
  }


.custom-table {
  width: 80%; /* Cambia el tamaño de la tabla */
  margin: auto; /* Centrar la tabla */
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.custom-table th {
  font-size: 18px; /* Tamaño de la letra para los encabezados */
}

.custom-table td {
  font-size: 16px; /* Tamaño de la letra para las celdas */
}

body {
  background-image: url('C:/Users/Usuario/Documents/GitHub/Proyecto-Ingenieria-en-Sistemas/Imagenes/vaca2.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen para que no se desplace con el scroll */
}